.media-queries{
		color: white;
		background-color: blue;
		font-size: 12px;
	}
@media(min-width: 768px){
	.media-queries{
		color: yellow;
		background-color: black;
		font-size: 16px;
	}
}

@media(min-width: 992px){
	.media-queries{
		color: orange;
		font-size: 20px;
	}
}
@media(min-width: 1200px){
	.media-queries{
		color: pink;
		background-color: black;
		font-size: 24px;
	}
}

